<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel='stylesheet' href='/assets/css/main.css' />
    <link href="https://fonts.googleapis.com/css?family=Voltaire" rel="stylesheet">
  </head>
  <body>
    <div id='app'>{{{react}}}</div>
    <script type='text/javascript' src='/dist/bundle/app.js'></script>
  </body>
</html>
