/*Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	/*font-size: 100%;*/
	/*font: inherit;*/
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.app-container {
	opacity: 0;
	transition: all 1s linear;
	transition-delay: 200ms;
	text-shadow: 1px 1px 1px black;
}

/*Header*/
#header {
	display: flex;
	background-color: #04DCA2;
	color: white;
	height: 80px;
	width: 100%;
	box-shadow: 0px 1px 1px gray;
  font-family: 'Voltaire', sans-serif;
	position: fixed;
	z-index: 10;
	transition: all .5s ease-in;
	transition-delay: 1s;
}

#header.slideIn {
	transform: translateY(0);
}

#header.slideOut {
	transform: translateY(-80px);
}

.logo-container {
  display: flex;
	align-items: center;
	width: 80%;
}

.logo {
	/*height: 83.5px;
	width: 62.5px;*/
	height: 67.35px;
  width: 50.625px;
	margin: 0px 10px;
}

.logo-text {
	font-size: 1.8em;
	font-family: 'Voltaire', sans-serif;
  cursor: pointer;
}

.logo-text:hover {
  color: lightgray;
}

.register-container {
	width: 20%;
	margin: auto 1em;
	text-align: right;
}

.register-btn {
	font-size: 1.2em;
	color: white;
	background-color: transparent;
	border: 2px solid white;
	border-radius: 1em;
	padding: .3em .6em;
	width: 160px;
}

.register-btn:focus {
	outline: 0;
}

/*Jumbotron*/
.jumbotron{
  height: 600px;
  width: 100%;
	font-family: sans-serif;
	color: #a09f9f;
	background-color: white;
  font-family: 'Voltaire', sans-serif;
	background: url('/assets/images/DeathtoStock_Meticulous.jpg');
	background-size: cover;
	padding-top: 80px;
	display: flex;
	justify-content: space-around;
}

.jumbotron-left {
	width: 50%;
	margin-left: 5%;
	overflow: visible;
}

#jumbotron-container {
	transition: all .3s linear;
}

#jumbotron-container.slideIn {
	transform: translateX(2em);
}

#jumbotron-container.slideOut {
	transform: translateX(0em);
}

.jumbotron-title {
  font-size: 2em;
  margin: 10% 0 0;
	padding: .3em .5em;
	color: white;
	width: 350px;
	background-color: #007AFF;
	opacity: 0.9;
	border-radius: 5em;
	text-shadow: none;
}

.jumbotron-right {
	width: 45%;
	background-color: #4B5353;
	opacity: .8;
	height: 90%;
	margin: auto;
	display: flex;
	flex-direction: column;
}

.jumbotron-overlay {
	background-color: white;
	height: 85%;
	width: 95%;
	margin:  0 auto auto;
	overflow-x: scroll;
	transition: all .5s ease-in;
}

/*Draft Form*/
.draft-form {
  margin: 1.4em auto 0;
	transition: all .4s linear;
}

#title{
	font-size: 1.2em;
	width: 50%;
	height: 44px;
	margin: 2.5% 0;
	padding: 10px;
	border-radius: 1em;
	transition: all .3s linear;
}

#title:focus {
	outline: 0;
}

.form-slideIn {
	opacity: 1;
	transform: translateX(1em);
}

.form-slideOut {
	opacity: 0;
	transform: translateX(0);
}

#text {
  width: 80%;
  font-size: 1.5em;
  height: 200px;
	transition: all .3s linear;
  border-radius: 1em;
	border: none;
  resize: none;
	padding: 10px;
}

#text:focus {
	outline: 0;
}

#authorID {
	font-size: 1.2em;
	width: 50%;
	height: 44px;
	margin: 2.5% 0;
	padding: 10px;
	border-radius: 1em;
	transition: all .3s linear;
}

#topics {
	font-size: 1.2em;
	width: 50%;
	height: 44px;
	margin: 2.5% 0;
	padding: 10px;
	border-radius: 1em;
	transition: all .3s linear;
}

.submit-btn {
	min-width: 20%;
	margin: 2% 1em;
	height: 5%;
	background-color: #007AFF;
	color: white;
	font-size: 1.2em;
	transition: all .3s linear;
	border-radius: 10%;
}

.submit-btn:focus {
	outline: 0;
}

.btn-visible {
	opacity: 1;
	transform: translateX(1em);
}

.btn-not-visible {
	opacity: 0;
	transform: translateX(0);
}

#workspace-btn {
	background-color: #007AFF;
	width: 81.96px;
	height: 81.96px;
	border-radius: 50%;
	text-align: center;
	margin: 0 0 0 -5%;
	box-shadow: 0 0 10px black;
	cursor: pointer;
	position: absolute;
}

#workspace-btn-bg {
	height: 53.88px;
	width: 40.5px;
	margin-top: 12%;
}

/*Draft List*/
.draft-list-header {
	width: 95%;
	text-align: center;
	margin: auto auto 0;
	color: black;
	text-shadow: none;
	height: 6%;
	padding-top: 2.5%;
	background-color: white;
}


.draft-list {
	height: 93%;
	display: flex;
	transition: all .4s ease-in;
}

.draft-list-item {
	color: black;
	text-shadow: none;
	margin: .75em 1em;
	height: 100%;
	width: 100%;
	text-align: center;
}

/*Footer*/
#footer{
	background-color: #04DCA2;
  color: white;
  font-family: 'Voltaire', sans-serif;
  height: 200px;
  text-align: center;
  padding-top: 1em;
}

#footer a:hover {
  color: lightgray;
}

.copyright {
  font-size: 1.2em;
  display: inline-block;
  width: 100%;
  display: inline-block;
}

.copyright-text {
  float: right;
  margin-right: .6em;
}

.workspace-container{
  display: inline-block;
  width: 33%;
}

.workspace-title{
  font-size: 2em;
}

.workspace-logo{
  width: 25px;
  height: 33.4px;
  margin:0;
  margin-left: .5em;
  /*height: 83.5px;*/
	/*width: 62.5px;*/
}

.ws-list-item {
  margin: 1em;
  font-size: 1.2em;
}

.ws-list-item a {
  text-decoration: none;
  color: white;
}

.discover{
  display: inline-block;
  width: 33%;
}

.discover-title {
  font-size: 2em;
}

.resources {
  display: inline-block;
  width: 33%;
}

.resources-title {
  font-size:2em;
}

/*Transitions*/
.example-enter {
  opacity: 0.01;
	/*z-index: 10;*/
	/*display: none;*/
	/*transform: translateX(1em);*/
}

.example-enter.example-enter-active {
  opacity: 1;
	/*background-color: blue;*/
	/*transform: translateX(1em);*/
  transition: all 500ms ease-in;
}

.example-leave {
  opacity: 1;
	z-index: 20;
	background-color: yellow;
	display: none;
	transition: all 500ms linear;
	transform: translateX(5em);
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: all 300ms ease-in;
	background-color: green;
}
